.footer-container {
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0.1rem;
    background-color: #ede9ddad;
    font-size: small;
}

.social-icons-container {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.text-dark {
    text-decoration: none;
    color: cadetblue;
    font-size: small;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: all 0.5s ease-in-out;
    margin-bottom: 5px;

}


.social-icons li {
    padding: 1px;
}

.social-icons li:hover {
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    border-radius: 10px;

}

@media (max-height: 750px){
    .footer-container{
        display: none;
    }
}
    
