
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

.Detail-container {
    width: 100%;
    height: 100%;
    background-color: rgba(16, 21, 166, 0.519);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

.Detail-container h1 {
    font-size:35px;
    color: #321c1cfe;    
    font-family:'Barlow Condensed', sans-serif;
    text-align: center;
    margin:10px auto;
    padding: 20px;
}

