* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

.bio-container {
    width: 100%;
    height: 90vh;
    background-color: rgb(209, 229, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.bio-container .content img {
    height: auto;
    width: 450px;
    max-width: 100%;
    border-radius: 3em;
    padding: 20px;
}

.text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.bio-container .content {
    width: 90%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}

.bio-container .text h1 {
    color: rgb(103, 101, 101);
    font-size: 55px;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 0;
}

.bio-container .text h5 {
    color: rgb(55, 52, 52);
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bio-container .text p {
    color: rgb(82, 82, 82);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

@media screen and (max-width: 1180px) {
    .bio-container {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}

@media screen and (max-width: 650px) {
    .bio-container .content {
        margin-bottom: 35px;
    }
    .bio-container .text h1 {
        font-size: 50px;
        margin-bottom: 25px;
    }


}