* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

.contact-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(254, 232, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact-container h2 {
    font-size: 100px;
    color: rgb(43, 143, 176);
    text-decoration:line-through;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

