
h2{
    margin-top: 30px;
    font-size: 120px;
    color: rgb(27, 192, 104);
    font-family: 'Barlow Condensed', sans-serif;
}
.exhibition-container{
    background-color: bisque;
    height: 700px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-top:50px;
}
