* {
    margin: 0;
    padding: 0;
}

.header {
    width:  1170px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
}

.logo {
    float: left;
    object-fit: contain;
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
}

.navArea {
    float: right;
    background-color: rgb(255, 255, 255);
    list-style: none;
    margin-left: 150px;
    margin-bottom: 30px;
}

.navArea li{
    display: inline-block;
    margin-left: 50px;
}

.navArea li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
}

.navArea li a:hover{
    background: rgb(243, 231, 215);
    color: rgb(37, 91, 116);
}